:root {
  --color-black: #000;
  --color-white: #fff;
  --color-off-white: #f4f4ed;
  --color-blue: blue;
  --color-green: #07bf07;
  --color-purple: purple;
  --color-yellow: yellow;
  --color-red: red;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monosapace;
  --breakpoint-s: 768px;
  --breakpoint-m: 1024px;
  --breakpoint-l: 1280px;
  --breakpoint-xl: 1440px; }

html {
  font-size: 62.5%;
  line-height: 1.5; }

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans); }

*,
*:before,
*:after {
  box-sizing: border-box; }

pre {
  display: block;
  max-width: 70rem;
  margin: 0 auto;
  overflow-x: scroll; }

code {
  font-family: var(--font-mono); }

.content {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3rem; }

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-black);
  color: var(--color-white); }

.site-header-nav .nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.site-header-nav .nav-item + .nav-item {
  margin-left: 2rem; }

.site-header-nav .nav-link {
  display: block;
  font-size: 1.6rem;
  color: var(--color-white);
  padding: 2rem 0;
  text-decoration: none; }

.site-header-ctas {
  display: none;
  height: 2.8rem; }
  .site-header-ctas > * {
    display: inline-block; }
  .site-header-ctas * + * {
    margin-left: 1rem; }

.page-wrapper {
  margin-top: 6.4rem; }

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  min-height: 50vh;
  padding: 10rem 3rem; }

.page-header-title {
  font-size: 4.2rem;
  font-weight: 400;
  text-align: center;
  margin: 0; }

.page-header-subtitle {
  font-size: 2.4rem;
  font-weight: 100;
  text-align: center;
  margin: 0;
  margin-top: 2rem; }

.page-header-ctas {
  margin-top: 3rem; }
  .page-header-ctas iframe + iframe {
    margin-left: 1rem; }

.section {
  padding: 10rem 0;
  min-height: 50vh; }
  .section h3 {
    font-size: 7.2rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: 10rem; }

.section-examples {
  padding-bottom: 0;
  background-color: #222; }
  .section-examples h3 {
    color: var(--color-white); }

.example {
  padding: 10rem 0; }
  .example h4 {
    font-size: 4.8rem;
    font-weight: 400;
    margin-top: 0; }

.example-blocks {
  margin-top: 10rem;
  margin-bottom: 10rem; }

.example-timecode {
  background-color: #222;
  color: var(--color-white); }
  .example-timecode .timecode {
    font-family: var(--font-mono);
    font-size: 12.8rem;
    text-align: center;
    margin: 0; }

.example-standalone {
  background-color: var(--color-off-white); }
  .example-standalone .percent-wrapper {
    position: relative;
    height: 50vh; }
  .example-standalone .percent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: var(--font-mono);
    font-size: 12.8rem;
    line-height: 50vh;
    text-align: center;
    margin: 0; }
    .example-standalone .percent.white {
      color: var(--color-white); }
  .example-standalone .percent-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-green); }

.example-indicators {
  background-color: var(--color-black);
  color: var(--color-white); }
  .example-indicators .timezone {
    padding: 0 3rem;
    text-align: center; }
    .example-indicators .timezone h5 {
      font-size: 2.8rem;
      font-weight: 400;
      margin: 0;
      margin-top: 5rem; }
    .example-indicators .timezone .location-time {
      font-size: 2.2rem; }
    .example-indicators .timezone .location-date {
      color: #999999; }
    .example-indicators .timezone p {
      margin-bottom: 0; }
      .example-indicators .timezone p + p {
        margin-top: 0; }
    .example-indicators .timezone + .timezone {
      margin-top: 15rem; }

.section-docs li {
  line-height: 2.5; }

.section-install {
  background-color: var(--color-yellow); }

.section-license {
  background-color: var(--color-blue);
  color: var(--color-white); }
  .section-license a {
    color: var(--color-white); }

.site-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5rem 0; }
  .site-footer .copyright {
    font-size: 1.6rem; }
  .site-footer a {
    color: var(--color-white); }
  .site-footer .follow-buttons > * {
    display: inline-block; }
  .site-footer .follow-buttons * + * {
    height: 2rem;
    margin-left: 1.5rem; }

@media all and (min-width: 768px) {
  .site-header-ctas {
    display: block; }
  .page-header-ctas {
    display: none; }
  .example-indicators .example-blocks {
    display: flex;
    justify-content: center; }
  .example-indicators .timezone {
    padding: 0 10rem; }
    .example-indicators .timezone + .timezone {
      margin-top: 0; } }
